<h1><%= "#{@user.name} Preferred Genre's"%></h1>

<p>  <%=link_to new_user_genre_path(@user), method: :get do %> 
    <i class="medium material-icons">add_circle</i>
 <% end %>
 </p>

    <% @genre.each do |genre|%>
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="<%=genre.photo_url%>">
          <span class="card-title"><%= link_to "#{genre.name} Genre", genre_podcasts_path(genre) %></span>
        </div>
        <div class="card-content">
          <p>This is the <%=genre.name%> Genre Podcast</p>
        </div>
        <div class="card-action">
            <p><%= link_to edit_user_genre_path(@user, genre), method: :get do %>
          <i class="material-icons">edit</i>
        <% end %>
        &nbsp &nbsp  
        <%= link_to user_genre_path(@user, genre), method: :delete do %>
          <i class="material-icons">delete</i>
        <% end %>
      </p>
        </div>
      </div>
    </div>
  </div>
           
    <%end%>
